body {
    background-color: #c5eeec;
}

hr {
    border-style: none;
    border-top-style: dotted ;
    border-width: thin;
    border-color: #bfe2ee;
}

h1 {
    color: #1114af;

}

h3 {
    color: #1114af;
}

h4 {
    color: #5daf11;
}

button {
    background-color: #ece6f7;
}
