/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');


/*Comandos para "resetar" o estilo d apagina*/
*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/*Comandos para estilizar a página*/

body {
    background-image: linear-gradient(to top, #0d1f74, #320e4d, #11082f, #200515, #000000);
}


.cabecalho{
    border-bottom: 0.2px solid white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cabecalho-imagem{
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: 25px;
    padding: 15px;
}

.barra-menu{
    background-color: linear-gradient(55.87deg, #1b1b1b 16.8%, #686870 95%);
    
}

.navbar-brand{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: bold;
}

.navbar-nav{
    gap: 50px;
}


.nav-link{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: bold;
}

.navbar-toggler-icon{
    background-color: #535353;
}

.btn{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: bold;
}

.banner{
    border-top: 0.4px solid #636363 ;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-bottom: 70px;
    
}

.imagem-banner{
    width: 30%;   
    display: flex;
    align-self: center;
}

.texto-banner{

    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;
}



#logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap:100px;
    color: #ffffff;
}

.link-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.link-logo a{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;
}

#logo_apple, #logo_samsung, #logo_xiaomi{
    width: 100px;
    background-color: #e6e5ed86;
    padding:10px;
    border-radius: 20%;
}


li, .cabecalho-menu-cliente, .navbar-brand {
    position: relative;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

li::after,  .cabecalho-menu-cliente::after, .navbar-brand::after {
    position:absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: grey;
}

li a:hover, .cabecalho-menu-cliente:hover, .navbar-brand:hover {
    color: #ffffff;
    text-decoration: none;

}

li:hover::after, .cabecalho-menu-cliente:hover::after, .navbar-brand:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.rodape{
    padding: 5%;
    display: flex;
    justify-content: center;
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;
}
/*FIM DA PAGINA PRINCIPAL*/



/*COMEÇO DA PAGINA DE MODELOS*/

#pag-modelos{
    display: flex;
    justify-items: center;
    gap: 30%;


}

.modelos{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    gap: 50px 50px;

}

.celulares{
    background-color: #320e4d;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.link-celular{
    padding-top: 30px;
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    

}

.foto_celular{
    width: 90px;
}

#filtro-produtos{
    display: flex;
    flex-direction: row;

}

.barra-lateral{
    margin-left: 20px;
    display: flex;
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;

}

.itens-barra{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    

}


dialog{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;
    padding: 20px;
    background-image: radial-gradient(circle, #759596, #5f7880, #4d5d67, #3d424d, #2b2a32);    width: 30%;
    border-radius: 15px;
    border: none;
    text-align:justify;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

/*FIM DA PAGINA DE MODELOS*/


/*COMEÇO DA PAGINA DE CONTATOS*/

label{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagem_contato{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#enviar{
    display: flex;
    align-self: flex-end;
    padding: 10px;
    background-color: rgb(42, 42, 151);
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size:xx-small;
    text-align: center;
    border-radius: 20px;
    
}

.card{
    display: flex;
    background-color: #0d1e7466;
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;
    padding: 2%;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
/*FIM DA PAGINA DE CONTATOS*/


/*COMEÇO DA PAGINA DE CADASTROS*/

/*FIM DA PAGINA DE CADASTROS*/
