/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');


/*Comandos para "resetar" o estilo d apagina*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Comandos para estilizar a página*/

body {
    background: linear-gradient(55.87deg, #000331 5.8%, #6a6a6b 35%)
}


.cabecalho{
    background: linear-gradient(55.87deg, #1b1b1b 16.8%, #686870 95%);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cabecalho-imagem{
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: 25px;
    padding: 15px;
}

.cabecalho-cliente{
    display: flex;
    gap: 100px;
    margin-right: 40px;
}

.cabecalho-menu-cliente{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-weight:bold;
}


.barra-menu{
    background-color: linear-gradient(55.87deg, #1b1b1b 16.8%, #686870 95%);
}

.navbar-brand{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: bold;
}

.navbar-nav{
    gap: 50px;
}


.nav-link{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: bold;
}

.navbar-toggler-icon{
    background-color: #535353;
}

.btn{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: bold;
}

.banner{
    border-top: 0.4px solid #636363 ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-bottom: 70px;
    
}

.imagem-banner{
    width: 70%;
    display: flex;
    align-self: center;
}

.texto-banner{
    color: rgb(253, 253, 255);
    font-family: 'Martian Mono', monospace;
    font-size: small;
    
}
/*FIM DA PAGINA PRINCIPAL*/


/*COMEÇO DA PAGINA DE MODELOS*/

/*FIM DA PAGINA DE MODELOS*/


/*COMEÇO DA PAGINA DE CONTATOS*/

/*FIM DA PAGINA DE CONTATOS*/


/*COMEÇO DA PAGINA DE CADASTROS*/

/*FIM DA PAGINA DE CADASTROS*/

